@import 'variables';
.content-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 3fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    .content {
        grid-area: 2 / 2 / 3 / 3;
        font-family: $montserrat;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        .error {
            padding: 10px;
            background: $red;
            border-radius: 10px;
        }
        .form-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            border: 1px solid;
            border-radius: 15px;
            border-color: rgb(238, 238, 238);
            padding: 25px;
            .form-input {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                label {
                    font-size: 14px;
                }
                input {
                    border-color: rgb(216, 216, 216);
                    font-size: 16px;
                    border-radius: 10px;
                    margin-bottom: 15px;
                    padding: 10px;
                }
            }
        }
    }
}