@import 'variables';
.filter-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
    align-items: start;
    .salary-wrapper {
        display: flex;
        gap: 10px;
        align-items: center;
    }
    img {
        width: 12px;
        height: 12px;
        padding-right: 10px;
    }
    .btn-undo {
        background-color: rgb(221, 205, 66);
        padding: 10px;
        border-style: none;
        font-family: $montserrat;
        border-radius: 13px;
        transition: all 0.3s ease;
        &:hover {
            transition: all 0.3s ease;
            box-shadow: $btn__box-shadow;
            cursor: pointer;
        }
    }
}