@import 'variables';
form {
    .input-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    textArea,
    input {
        padding: 7px 7px;
        border: 1px solid rgb(216, 216, 216);
        border-radius: 10px;
        font-family: $montserrat;
    }
    label {
        font-size: 14px;
    }
    button {
        background-color: $green;
        padding: 10px;
        border-style: none;
        font-family: $montserrat;
        border-radius: 13px;
        transition: all 0.3s ease;
        &:hover {
            transition: all 0.3s ease;
            opacity: 0.8;
            cursor: pointer;
        }
    }
    select {
        padding: 7px 7px;
        border-radius: 10px;
        margin-bottom: 12px;
        font-family: $montserrat;
        border: 1px solid rgb(216, 216, 216);
    }
    .input-error {
        margin-top: 2px;
        font-size: 12px;
        color: rgb(219, 1, 1);
    }
}