@import 'variables';
.main-container__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    #alert {
        text-align: center;
    }
}

.container {
    grid-area: 1 / 2 / 2 / 3;
    font-family: $montserrat;
    background-color: #ffff;
    display: flex;
    flex-direction: column;
    width: 100%;
    transition: height 0.5s;
}

h2 {
    text-align: center;
}

.btn-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
    img {
        width: 10px;
        height: 10px;
        padding-right: 10px;
    }
}

.btn-wrapper--center {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 20px 10px;
}

.card-list {
    margin: 0;
    padding: 0;
    .card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 20px;
        margin-bottom: 20px;
        border-radius: 5px;
        box-shadow: $box-shadow;
        list-style-type: none;
        background-color: $white;
        p {
            margin: 0;
        }
        hr {
            width: 100%;
            margin-bottom: 20px;
            border: 0;
            height: 1px;
            background: #333;
            background-image: linear-gradient(to right, #ccc, #333, #ccc);
        }
        .card-item {
            margin-bottom: 8px;
            color: $dark;
        }
        .card-btn {
            display: flex;
            flex-direction: row;
            margin-right: 5px;
        }
    }
}