@import 'variables';
.btn-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    img {
        width: 10px;
        height: 10px;
        padding-right: 10px;
    }
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px 200px 20px 20px;
    border-radius: 5px;
    box-shadow: $box-shadow;
    list-style-type: none;
    background-color: $white;
    hr {
        width: 100%;
        margin-bottom: 20px;
        border: 0;
        height: 1px;
        background: #333;
        background-image: linear-gradient(to right, #ccc, #333, #ccc);
    }
    .card-item {
        margin-bottom: 8px;
        color: $dark;
    }
    .card-btn {
        display: flex;
        flex-direction: row;
        margin-right: 5px;
    }
}