@import 'variables';
.nav {
    font-family: $montserrat;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20%;
    background-color: $dark;
    box-shadow: $box-shadow;
    .user-data {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 25px;
        .link-wrapper {
            display: flex;
            align-items: center;
            transition: all 0.3s ease 0s;
            .icon {
                color: $white;
                vertical-align: middle;
                font-size: 30px;
                margin-left: 10px;
            }
        }
    }
    .link {
        color: $white;
        text-decoration: none;
        transition: all 0.3s ease 0s;
        vertical-align: middle;
        margin: 0;
        cursor: pointer;
        &:hover {
            color: $blue;
        }
    }
    .nav__links {
        list-style: none;
        li {
            display: inline-block;
            padding: 0px 20px;
            .link {
                color: $white;
                vertical-align: middle;
                text-decoration: none;
                transition: all 0.3s ease 0s;
                &:hover {
                    color: $blue;
                }
            }
        }
    }
}